@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&family=Roboto:ital,wght@0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'noto sans';
}

.main{

    border: 5px solid rgb(100, 182, 237); 
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    /*eixo x*/
    justify-content: center;
    /*eixo y*/
    align-items: center;
}

.left{
    
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.left>h1{
    color: #61bbd1;
    
}
img{
    max-height: 60%;
}
    
.rigth{
    
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #108fca56;

}

.card > h1{
    color: #61bbd1;
    font-weight: 800;
}

.textfield{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0px;

}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #33819456;
    outline: none;
    border: 2px solid transparent;

}

.textfield > input::placeholder{
    color: #f0ffff94;
    
}

input:focus{
    border-color: #389ba8;
   
}

.textfield > label{
    color: #419db4;
    margin-top: 10px;
    margin-bottom: 10px;

}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #419db4;
    background-attachment: #419db4;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #419db4;

}

.btn-login:hover{
    transition: background 1s;
    background: #6d7a7e;
    
}